html {
  font-size: 1em;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
  /*color: rgb(36,34,46);*/
  background: #F0F0F0;
  background-attachment: fixed;
  font: 100%/1.3 Arial, Helvetica Neue, Helvetica, sans-serif;
}

/*.clock{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #556B2F;
}*/
.container {
  border-radius: 10px;
  width: 600px;
  margin: auto;
  padding: 40px 20px;
  background-color: #FFFFFF;
}
#timeType {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
