html {
  font-size: 1em;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
  /*color: rgb(36,34,46);*/
  background: #377A4F;
  background-attachment: fixed;
  font-family: 'Shadows Into Light Two', cursive;
}
h1 {
  margin-bottom: 1em;
}
p {
  font-family: "Rancho";
}
.container {
  border-radius: 10px;
  font-size: 1.5em;
  width: 600px;
  margin: auto;
  padding: 20px 20px;
  background-color: #FFFFFF;
}
.settime {
  font-family: "Rancho";
  font-size: 1em;
  background-color: #FF6347;
}
#timeType {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
